@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Nunito Sans", sans-serif;
}
.container {
  max-width: 1440px;
}
.benefits-area .trans-bg {
  height: 205px;
  bottom: -20px;
}
.hero-content h1 {
  background-image: linear-gradient(to right, #5b86e5, #36d1dc);
  overflow: hidden;
  color: transparent;
  background-clip: text;
}
