@tailwind base;
@tailwind components;
@tailwind utilities;
.box-btn {
  background-image: linear-gradient(to right, #5ca4dd, #0375ff99);
  color: #fff;
  display: inline-block;
  transition: 0.3s;
  padding: 16px 24px;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 1.18;
  border-radius: 6px;
}
.box-btn:hover {
  background-image: linear-gradient(to right, #5ca4dd 100%, #2700e399);
}
.container {
  max-width: 1440px;
}
.hero-area .plyr {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.plyr {
  border-radius: 0px;
}

.plyr__control.plyr__control--overlaid {
  background-color: rgba(15, 45, 89, 0.3);
}
.image-99.floating {
  top: 0%;
  right: 0%;
  transform: rotate(0);
}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.floating {
  animation: floating 5s ease-in-out 0s infinite;
}
.image-99 {
  width: 125px;
  position: absolute;
  inset: 18% 22% 0% auto;
  transform: rotate(7.5deg);
}
.image-99.div {
  width: 100px;
  height: 100px;
  right: 10px;
  transform: rotate(8deg);
  top: auto;
  bottom: 6px;
}
.inner-container {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
#moveable-bg {
  transition: width 1s ease-in-out; /* Smooth transition for width */
  width: 1050px; /* Initial width */
}
.box-btn.size-2 {
  padding: 19px 34px;
}
.splide__arrow {
  background: #fff;
}
/* preloader css start */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #0f2c59;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.preloader {
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}
.preloader.hide {
  opacity: 0;
  visibility: hidden;
}
/* preloader css end */
