@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Nunito Sans", sans-serif;
}
.container {
  max-width: 1440px;
}
.benefits-area .trans-bg {
  height: 205px;
  bottom: -20px;
}
.hero-content h1 {
  background-image: linear-gradient(to right, #5b86e5, #36d1dc);
  overflow: hidden;
  color: transparent;
  background-clip: text;
}
.hero-area .plyr {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.plyr {
  border-radius: 10px;
}
header {
  transition: 0.3s;
}
header.change {
  background-color: #5b86e5;
}
.plyr__control.plyr__control--overlaid {
  background-color: rgba(15, 45, 89, 0.3);
}
/* preloader css start */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #0f2c59;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.preloader {
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}
.preloader.hide {
  opacity: 0;
  visibility: hidden;
}
/* preloader css end */
